<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../../dist/ts/hook.js"></script>
    <title>Home</title>
</head>
<body>
    <nav>
        <div id="nav-title">
            <h1>Data Leaker Gates</h1>
        </div>
        <div id="nav-options">
            <ul>
               <li><button id="logout-button">log out</button></li>
            </ul>
        </div>
    </nav>
    <main>
        <h3>Create a New Post</h3>
        <div id="form-container">
            <form id="post-form">
                <input type="hidden" id="post-id">
                <input type="text" id="post-title" placeholder="title">
                <input type="text" id="post-description" placeholder="description">
                <input type="url" id="post-image" placeholder="image url">
                <input type="text" id="post-platform" placeholder="platform">
                <input type="date" id="post-date" placeholder="publication date">
                <button type="submit">send</button>
            </form>
        </div>
        <div id="cards-container"></div>
    </main>
    <script type="module" src="../../dist/ts/home.js"></script>
</body>
</html>