<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Sing Up</title>
</head>
<body>
    <header>
        <nav>
            <div id="nav-title">
                <h1>Data Leaker Gates</h1>
            </div>
            <div id="nav-options">
                <ul>
                <li><a href="">log in</a></li>
                </ul>
            </div>
        </nav>
    </header> 
    <main>
        <h3>Sing Up</h3>
        <div id="form-container">
            <form id="register-form">
                <input type="email" id="email" placeholder="email">
                <input type="password" id="password" placeholder="password">
                <button type="submit">send</button>
            </form>
        </div>
    </main>
    <script type="module" src="../../dist/ts/register.js"></script>
</body>
</html>